/*  Font family  */
/*  Color */
/*  Heading color */
/*  text color */

/* font family for heading */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* font family for text*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-body: #f7f7f7;
  --white-color: #fff;
  --text-font: "Open Sans", sans-serif;
  --heading-font: "Lato", sans-serif;
  --primary-color: #0e72c9;
  --hover-color: #0d69b9;
  --heading-color: #282828;
  --text-color: #353535f3;
  --border-color: rgba(34, 33, 33, 0.133);
}

body {
  background-color: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}

p,
li,
span,
input,
::placeholder,
button,
a {
  color: var(--text-color);
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

.links {
  transition: 0.1s ease-in;
}
.links:hover {
  color: var(--hover-color);
}

li {
  list-style-type: none;
}

.image {
  width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

.navigation {
  padding: 1.3rem 0.5rem;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
}

.site-title {
  cursor: pointer;
  font-weight: 900;
}

.nav-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: inline-block;
  margin: 0 0.6rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.section {
  padding: 2rem 0;
}

.hero-section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.hero-wrapper {
  text-align: center;
  width: 500px;
  margin: 0 auto;
 
  padding: 2rem;
}

.user-bio{
    margin-top: 1rem;
}
.user-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
